/* se le da el reset a la pagina */

* {
    margin: 0;
    padding: 0;
}


/* -------------------------------------------------------- */


/* color de fondo al body y est en link con  todos los html */

body {
    background-color: #005173;
    /* #58bbe5 */
}


/* formato de imagen de fondo en el navegador */

.header__navbar {
    background-color: #005073;
    background-image: url("../assets/imeg/nav.jpg");
    padding: 10rem;
}


/* la lista desordenada se le da la centarlidad */

.header__navbar ul {
    list-style-type: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


/* la lista es puesta en linea  */

.header__navbar li {
    display: inline-block;
    padding-inline: 10px;
    margin: 10px;
}


/* aqui se le da el tipo de color a la letra y quitarle el formato con el que venia y hacerla en mayusculas */

.header__navbar a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}


/* se le da color al titulo y centralidad en todos los titulos de html*/

.contenido__titulo {
    color: rgb(251, 255, 3);
    text-align: center;
    padding: 20px 0px;
}


/* se le da formato al contenido de todo los html que esten en link*/

.contenido {
    line-height: 1.6;
    font-size: 20px;
    color: white;
    font-family: 'roboto', sans-serif;
    margin: 2rem;
    text-align: justify;
}


/* aplicación de flexvox */

.caja_padre {
    display: flex;
    justify-content: center;
    margin: 5rem 5rem 1rem 5rem;
}

.caja_padre2 {
    display: flex;
    justify-content: center;
}

.caja img {
    width: 300px;
    height: 200px;
    padding: 1rem;
    margin: 5px;
    border: solid .5px rgb(101, 101, 101);
    background-color: white;
}

.texto {
    text-align: center;
    font-size: 20px;
}


/* se le da formato al pie de pagina  y esta en link con todos los html*/

.pie {
    background-color: rgb(216, 216, 216);
    padding: 5rem;
    margin-top: 30rem;
    text-align: center;
}


/* aplicacion de girlla en html de galeria */

.contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 10px;
    align-content: center;
    padding: 10px;
}

.contenedor img {
    width: 100%;
}


/*  Mobile */

@media all and (max-width: 480px) {}


/* bobile para celulares grandes */

@media (max-width: 767px) {
    .contenedor {
        gap: 30px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        padding: 30px;
        align-items: center;
        justify-items: center;
    }
}


/*  para escritorio */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .contenedor {
        /* display: grid; */
        gap: 30px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        padding: 30px;
        align-items: center;
        justify-items: center;
    }
}