<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Galeria</title>

</head>

<body>

    <!-- El Cabezal donde se encuentra el Menu principal -->
    <header>
        <!-- Es donde se inserta el menu de el contenido para navegar sobre de ella -->
        <nav class="header__navbar">
            <!-- se crea la lista desordenada del menu -->
            <ul>
                <li><a href="../index.html">inicio</a></li>
                <li><a href="./galeria.html">Galeria</a></li>
                <li><a href="./cursos.html">Cursos</a></li>
                <li><a href="./nosotros.html">Contactos</a></li>
                <li><a href="./entrar.html">Entrar</a></li>
            </ul>
        </nav>
    </header>

    <!-- inicia La parte principal de main  de la pagina  -->
    <main>

        <h1 class="contenido__titulo">GALERIA</h1>



        <div class="contenedor">

            <div>
                <img src="../assets/imeg/bajo.jpg " alt=" bajo">
            </div>
            <div>
                <img src="../assets/imeg/drum.jpg " alt=" drum ">
            </div>
            <div>
                <img src="../assets/imeg/teclado.jpg " alt="teclado ">
            </div>
            <div>
                <img src="../assets/imeg/canto.jpg " alt=" canto ">
            </div>


        </div>







        <!-- Esta sección es un contenedor de sección de parrafo  -->
        <section>

            <p class="contenido">

                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quaerat rem iste illum aliquid, libero fugiat similique beatae officiis ad cumque dolorem repudiandae perspiciatis nihil distinctio. Temporibus beatae veniam autem! Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Autem doloremque veniam deserunt. Eveniet ipsa quisquam fuga quas tenetur doloribus voluptate voluptatem placeat autem. Libero, labore asperiores aut quasi quis deserunt? Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Distinctio cum, cumque a ab odio fugit tenetur ratione placeat ea, ducimus aliquid molestias, repellat voluptate eaque ipsa nisi voluptatum quas voluptatem. Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Illo quisquam tenetur molestias aut commodi quos. Ea, vero harum exercitationem, quod sint repellendus fugit alias, aliquid provident incidunt vitae ducimus mollitia? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
                pariatur reprehenderit adipisci, aut doloribus vel eligendi maxime corrupti aspernatur earum assumenda facilis error mollitia animi quae facere officia eum dolorum.
            </p>
        </section>
    </main>


</body>

<!-- Esta sección es contenedor de pie de pagina se dio formato con un color y la letras centradas  -->
<footer class="pie">

    <p>
        Derechos reservados (pie)
    </p>

</footer>

</html>